.container {
  margin: 0 auto;
  max-width: 1200px;
}
.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-bottom: 70px;
  margin-top: 50px;
}
