.startSection {
  font-family: 'NAMU 1600';
  padding-top: 80px;
  position: relative;
  width: 100%;
}

#start {
  background: linear-gradient(to right, #171d27, rgba(255, 255, 255, 0)),
    url(../../../public/img/okno.jpg
    );
  background-position: right;
  background-size: cover;
  height: 600px;
 
}

.startText1 {
  color: white;
  font-size: 18px;  
   margin-bottom: 10px;

}
.startText {
  color: white;
  font-size: 16px;
  opacity: 60%;  
     margin-bottom: 30px;
 
}
.display_5{
    color: white;
  font-size: 45px;
  margin-bottom: 50px;
  line-height: 50px;
  width: 600px;
 font-weight: bold;
}
.forrad {
  color: rgb(255, 89, 38);
}
.container {
margin-left: 120px;
}
.wing {
  width: 18px;
  float: left;
   
 
}
.allTextWing{
  margin-top: 50px;
  
}
.btn {
  border-radius: 0;
  padding: 18px 18px 22px 18px;
  font-family: 'NAMU 1600';
  -webkit-font-smoothing: antialiased;
  transition: all 0.8 ease;
  text-decoration: none;
  border: 1px solid red;
  font-size: 18px;

}

.btn_brand {
  background-color: #ff0000;
  color: white;
  text-decoration: none;
}

.btn_brand:hover {
  color: #fb0000;
  border-color: #ff0000;
  background-color: transparent;
  border: 1px solid red;
  transition: all .3s ease-in-out;
}


@media (max-width: 767px) {
  .container {
margin-left: 20px;
}
.startSection {
  font-family: 'NAMU 1600';
  padding-top: 20px;
  position: absolute;
  width: 100%;
}
.display_5{
    color: white;
  font-size: 20px;
}
.wing {
  width: 10px;
  float: left;
    line-height: 1.5;
 
}
.startText1 {
  color: white;
  font-size: 16px;  
 
}
}


