.container {
  margin: 0 auto;
  max-width: 1200px;
}
.title {
  text-align: left;
  font-size: 40px;
  color: #006567;
  margin-top: 50px;
}
.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .title {
margin-left: 20px;
}
}
