.container {
  margin: 0 auto;
  max-width: 1600px;
}
.title {
  text-align: left;
  font-size: 40px;
  color: rgb(53, 53, 53);
  margin-top: 50px;
}
.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.box {
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin-top: 50px;
  text-align: center;
  width: 300px;
  height: 200px;
  border: 1px solid blue;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgba(0, 0, 255, 0.041);
  transition: transform 0.5s;
}
.box:hover{
border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.041);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  color: red;
}
.img {
  width: 100px;
  height: 110px;
  margin-bottom: 10px;
}
