.container {
  margin: 0 auto;
  max-width: 1400px;
}
.title {
  text-align: left;
  font-size: 40px;
  color: rgb(53, 53, 53);
  margin-top: 50px;
}
.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.box {
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 5px 3px rgb(163, 161, 161);
  margin-top: 50px;
  text-align: center;
  width: 300px;
  height: 200px;
  margin-right: 25px;
  margin-left: 25px;
  // background-color: rgba(0, 0, 255, 0.041);
  transition: transform 0.5s;
  border-radius: 5px;
}
.box:hover{
  background-color: rgba(55, 0, 255, 0.041);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  color: #0067b6
}
.img {
  width: 100px;
  height: 110px;
  margin-bottom: 10px;
}
